<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocos2DxLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{180,48}</string>
				<key>spriteSourceSize</key>
				<string>{180,48}</string>
				<key>textureRect</key>
				<string>{{370,83},{180,48}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>fmodLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{180,48}</string>
				<key>spriteSourceSize</key>
				<string>{180,48}</string>
				<key>textureRect</key>
				<string>{{0,358},{180,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_lite_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2}</string>
				<key>spriteSize</key>
				<string>{177,58}</string>
				<key>spriteSourceSize</key>
				<string>{180,62}</string>
				<key>textureRect</key>
				<string>{{0,407},{177,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_logo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,4}</string>
				<key>spriteSize</key>
				<string>{426,82}</string>
				<key>spriteSourceSize</key>
				<string>{858,104}</string>
				<key>textureRect</key>
				<string>{{0,0},{426,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_md_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{367,70}</string>
				<key>spriteSourceSize</key>
				<string>{374,77}</string>
				<key>textureRect</key>
				<string>{{0,130},{367,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_subzeroLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{324,78}</string>
				<key>spriteSourceSize</key>
				<string>{331,85}</string>
				<key>textureRect</key>
				<string>{{0,201},{324,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_worldLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{267,77}</string>
				<key>spriteSourceSize</key>
				<string>{274,84}</string>
				<key>textureRect</key>
				<string>{{0,280},{267,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RobTopLogoBig_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-11}</string>
				<key>spriteSize</key>
				<string>{369,46}</string>
				<key>spriteSourceSize</key>
				<string>{858,506}</string>
				<key>textureRect</key>
				<string>{{0,83},{369,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_LaunchSheet-hd.png</string>
			<key>size</key>
			<string>{426,465}</string>
			<key>textureFileName</key>
			<string>GJ_LaunchSheet-hd.png</string>
		</dict>
	</dict>
</plist>